* {
  margin:0;
  padding:0;
}

body {
  font-family:helvetica, arial, sans-serif;
  font-size:18px;
}

p {
  margin:1em 0;
}

ul, li {
  list-style:none;
}

li {
  margin:0 0 .5em 0;
}

#oauth-endpoints li {
  background:#FFFDD1;
  margin:0 0 .5em 0;
}

#container {
  margin:1em auto;
  width:400px;
}

a:link, a:visited {
  color:#F3007E;
  text-decoration:none;
}

a:hover {
  color:#EE56A4;
}

input[type="text"], input[type="password"] {
  border:1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:.25em;
}

input[type="text"], input[type="submit"],  input[type="password"] {
  font-size:18px;
}

input[type="submit"] {
  border:1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:.25em .5em;
  color:#fff;
  text-shadow: #333 0px 0px 2px;
  background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.34, rgb(201,0,121)),
    color-stop(0.67, rgb(242,24,111))
  );
  background:-moz-linear-gradient(
    center bottom,
    rgb(201,0,121) 34%,
    rgb(242,24,111) 67%
  );
}

input[type="submit"]:hover {
  background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.34, rgb(201,0,121)),
    color-stop(0.67, rgb(255,0,102))
  );
  background:-moz-linear-gradient(
    center bottom,
    rgb(201,0,121) 34%,
    rgb(255,0,102) 67%
  );
  cursor:pointer;
}

#oauth-opts {
  text-align:center;
}

input[type="text"],  input[type="password"] {
  width:200px;
}

dt {
  float:left;
  width:100px;
}

dt, dd {
  margin:0 0 .5em 0;
}

dd {
  width:100%;
}

form {
  border:4px solid #eee;
  padding:1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.uri {
  color:#FF589B;
}

pre {
  font-family:monaco, monospace;
}