<?xml version="1.0" encoding="UTF-8"?>
<!--
  -
  -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <description>Startup configuration class that will be instantiated by ComponentRegistryListener</description>
        <param-name>component-registry-class</param-name>
        <param-value>connect.ConnectComponentRegistry</param-value>
    </context-param>
<!--
    <context-param>
        <description>Startup configuration file that will be run by the ComponentRegistryListener</description>
        <param-name>component-registry-script</param-name>
        <param-value>/WEB-INF/boot.scala</param-value>
    </context-param>
-->
    <filter>
        <filter-name>repl</filter-name>
        <filter-class>connect.ReplFilter</filter-class>
    </filter>

    <filter>
        <filter-name>oauth2</filter-name>
        <filter-class>connect.OAuth2Filter</filter-class>
    </filter>

    <filter>
        <filter-name>oauth2</filter-name>
        <filter-class>connect.OAuth2Filter</filter-class>
    </filter>

    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>connect.AuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>authorization</filter-name>
        <filter-class>connect.TokenAuthorizationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>userInfo</filter-name>
        <filter-class>connect.UserInfoFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>repl</filter-name>
      <url-pattern>/repl</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>oauth2</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>authentication</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>authorization</filter-name>
      <url-pattern>/userinfo</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>userInfo</filter-name>
      <url-pattern>/userinfo</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>connect.boot.ComponentRegistryListener</listener-class>
    </listener>

</web-app>
